In [1]:
import pandas as pd
from IPython.display import display

class TransactionAnalyzer:
    def __init__(self, file_path):
        self.file_path = file_path
        self.df = None
        self.monthly_summary = None
        self.summary = None
        self.load_data()

    def load_data(self):
        self.df = pd.read_csv(self.file_path)
        self.df['transaction_date'] = pd.to_datetime(self.df['transaction_date'])
        self.df['year_month'] = self.df['transaction_date'].dt.to_period('M').astype(str)

    def compute_monthly_summary(self):
        self.monthly_summary = self.df.groupby(['location', 'year_month']).agg(
            number_of_transactions=('transaction_id', 'count'),
            total_amount=('amount', 'sum')
        ).reset_index()

    def compute_peak_months(self):
        peak_transactions = self.monthly_summary.loc[
            self.monthly_summary.groupby('location')['number_of_transactions'].idxmax()
        ].rename(columns={
            'year_month': 'peak_transaction_month',
            'number_of_transactions': 'max_transactions'
        })

        peak_amounts = self.monthly_summary.loc[
            self.monthly_summary.groupby('location')['total_amount'].idxmax()
        ].rename(columns={
            'year_month': 'peak_amount_month',
            'total_amount': 'max_total_amount'
        })

        self.summary = pd.merge(
            peak_transactions[['location', 'peak_transaction_month', 'max_transactions']],
            peak_amounts[['location', 'peak_amount_month', 'max_total_amount']],
            on='location'
        )

    def run_analysis(self):
        self.compute_monthly_summary()
        self.compute_peak_months()
        display(self.summary)

# Example usage
analyzer = TransactionAnalyzer("C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_transactions_cleaned.csv")
analyzer.run_analysis()

,location,peak_transaction_month,max_transactions,peak_amount_month,max_total_amount
0,Bago,2025-03,200,2025-03,5.107481e+08
1,Mandalay,2025-03,220,2025-03,5.323454e+08
2,Mawlamyine,2025-03,190,2025-03,4.990977e+08
3,Monywa,2025-03,179,2025-03,4.384506e+08
4,Myitkyina,2025-03,192,2025-03,4.504459e+08
5,Naypyidaw,2025-03,214,2025-03,5.313185e+08
6,Pathein,2025-03,171,2025-03,4.214903e+08
7,Sittwe,2025-03,199,2025-03,5.132064e+08
8,Taunggyi,2025-03,173,2025-03,4.222198e+08
9,Yangon,2025-03,919,2025-03,2.292984e+09