In [3]:
import pandas as pd
import os
from IPython.display import display

class CampaignResponseAnalyzer:
    def __init__(self, customer_path, response_path):
        self.customer_path = customer_path
        self.response_path = response_path
        self.merged_data = None

    def load_data(self):
        customers = pd.read_csv(self.customer_path)
        responses = pd.read_csv(self.response_path)
        self.merged_data = pd.merge(customers, responses, on='customer_id', how='left')
        self.merged_data['responded_flag'] = self.merged_data['responded'].apply(
            lambda x: 1 if str(x).strip().lower() in ['true', 'yes', '1'] else 0
        )

    def overall_summary(self):
        summary = self.merged_data.groupby('responded_flag').agg(
            count=('customer_id', 'count'),
            percentage=('customer_id', lambda x: (len(x) / len(self.merged_data)) * 100)
        ).reset_index()
        summary['responded_status'] = summary['responded_flag'].map({0: 'No Response', 1: 'Responded'})
        summary = summary[['responded_status', 'count', 'percentage']]
        summary.to_csv('overall_response_summary.csv', index=False)
        print("Overall Response Summary:")
        display(summary)

    def region_summary(self):
        region_summary = self.merged_data.groupby(['region', 'responded_flag'], observed=False).agg(
            count=('customer_id', 'count')
        ).reset_index()

        region_summary['responded_status'] = region_summary['responded_flag'].map({0: 'No Response', 1: 'Responded'})
        pivot = region_summary.pivot(index='region', columns='responded_status', values='count').fillna(0)
        for col in ['Responded', 'No Response']:
            if col not in pivot.columns:
                pivot[col] = 0
        pivot['Total'] = pivot['Responded'] + pivot['No Response']
        pivot['Response Rate (%)'] = (pivot['Responded'] / pivot['Total']) * 100
        pivot.to_csv('region_response_summary.csv')
        print("\nRegion-wise Response Summary:")
        display(pivot)

        os.makedirs('region_files', exist_ok=True)
        for region in self.merged_data['region'].dropna().unique():
            region_data = self.merged_data[self.merged_data['region'] == region]
            filename = f"region_files/region_{region.lower().replace(' ', '_')}_responses.csv"
            region_data.to_csv(filename, index=False)

    def age_group_summary(self):
        bins = [0, 18, 25, 35, 45, 55, 65, 100]
        labels = ['0-18', '19-25', '26-35', '36-45', '46-55', '56-65', '65+']
        self.merged_data['age_group'] = pd.cut(self.merged_data['age'], bins=bins, labels=labels, right=False)

        age_summary = self.merged_data.groupby(['age_group', 'responded_flag'], observed=False).agg(
            count=('customer_id', 'count')
        ).reset_index()

        age_summary['responded_status'] = age_summary['responded_flag'].map({0: 'No Response', 1: 'Responded'})
        pivot = age_summary.pivot(index='age_group', columns='responded_status', values='count').fillna(0)
        for col in ['Responded', 'No Response']:
            if col not in pivot.columns:
                pivot[col] = 0
        pivot['Total'] = pivot['Responded'] + pivot['No Response']
        pivot['Response Rate (%)'] = (pivot['Responded'] / pivot['Total']) * 100
        pivot.to_csv('age_response_summary.csv')
        print("\nAge Group Response Summary:")
        display(pivot)

    def gender_summary(self):
        gender_summary = self.merged_data.groupby(['gender', 'responded_flag'], observed=False).agg(
            count=('customer_id', 'count')
        ).reset_index()

        gender_summary['responded_status'] = gender_summary['responded_flag'].map({0: 'No Response', 1: 'Responded'})
        pivot = gender_summary.pivot(index='gender', columns='responded_status', values='count').fillna(0)
        for col in ['Responded', 'No Response']:
            if col not in pivot.columns:
                pivot[col] = 0
        pivot['Total'] = pivot['Responded'] + pivot['No Response']
        pivot['Response Rate (%)'] = (pivot['Responded'] / pivot['Total']) * 100
        pivot.to_csv('gender_response_summary.csv')
        print("\nGender Response Summary:")
        display(pivot)

    def income_summary(self):
        income_summary = self.merged_data.groupby(['income', 'responded_flag'], observed=False).agg(
            count=('customer_id', 'count')
        ).reset_index()

        income_summary['responded_status'] = income_summary['responded_flag'].map({0: 'No Response', 1: 'Responded'})
        pivot = income_summary.pivot(index='income', columns='responded_status', values='count').fillna(0)
        for col in ['Responded', 'No Response']:
            if col not in pivot.columns:
                pivot[col] = 0
        pivot['Total'] = pivot['Responded'] + pivot['No Response']
        pivot['Response Rate (%)'] = (pivot['Responded'] / pivot['Total']) * 100
        pivot.to_csv('income_response_summary.csv')
        print("\nIncome Response Summary:")
        display(pivot)

    def run_all_analysis(self):
        self.load_data()
        self.overall_summary()
        self.region_summary()
        self.age_group_summary()
        self.gender_summary()
        self.income_summary()
        print("\nAll analysis completed. CSV files created and outputs displayed.")

analyzer = CampaignResponseAnalyzer(
    customer_path='C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/b_customers.csv',
    response_path='C:/Users/Sut Zaw Aung/StockMarketDB/pythonProjectBank/data/row/c_campaign_responses.csv'
)

analyzer.run_all_analysis()

Overall Response Summary:

  responded_status  count  percentage
0      No Response   4963       49.63
1        Responded   5037       50.37

Region-wise Response Summary:

responded_status  No Response  Responded  Total  Response Rate (%)
region
Bago                      417        463    880          52.613636
Mandalay                  616        604   1220          49.508197
Mawlamyine                496        484    980          49.387755
Monywa                    483        487    970          50.206186
Myitkyina                 558        582   1140          51.052632
Naypyidaw                 419        471    890          52.921348
Pathein                   468        432    900          48.000000
Sittwe                    506        474    980          48.367347
Taunggyi                  531        529   1060          49.905660
Yangon                    469        511    980          52.142857

Age Group Response Summary:

responded_status  No Response  Responded  Total  Response Rate (%)
age_group
0-18                        0          0      0                NaN
19-25                     629        571   1200          47.583333
26-35                     871        829   1700          48.764706
36-45                     684        726   1410          51.489362
46-55                     715        785   1500          52.333333
56-65                     688        742   1430          51.888112
65+                      1376       1384   2760          50.144928

Gender Response Summary:

responded_status  No Response  Responded  Total  Response Rate (%)
gender
Female                   1550       1610   3160          50.949367
Male                     1761       1779   3540          50.254237
Other                    1652       1648   3300          49.939394

Income Response Summary:

responded_status  No Response  Responded  Total  Response Rate (%)
income
308450.16                 3.0        7.0   10.0               70.0
320345.96                 6.0        4.0   10.0               40.0
321944.95                 4.0        6.0   10.0               60.0
323640.24                 6.0        4.0   10.0               40.0
325706.43                 5.0        5.0   10.0               50.0
...                       ...        ...    ...                ...
4982270.16                8.0        2.0   10.0               20.0
4985974.24                7.0        3.0   10.0               30.0
4996627.60                2.0        8.0   10.0               80.0
4997318.09                6.0        4.0   10.0               40.0
4999890.12                5.0        5.0   10.0               50.0

[1000 rows x 4 columns]

All analysis completed. CSV files created and outputs displayed.